<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @political_party.name %>
</p>


<%= link_to 'Edit', edit_political_party_path(@political_party) %> |
<%= link_to 'Back', political_parties_path %>
